In [11]:
import geopandas as gpd
import pandas as pd
import os

In [4]:
intersections_geo = gpd.read_file('../../../../data/oradell/osm/osm-intersections/intersections-with-correct-geo/intersections-with-correct-geo.shp')
intersections_waytype = gpd.read_file('../../../../data/oradell/osm/osm-intersections/intersections-with-way-type/intersections-with-way-type.shp')

In [5]:
#spatial join two dataframes
df = gpd.sjoin(intersections_geo, intersections_waytype, how='inner')
df

,count_tota,geometry,index_right,street_edg,osm_id,way_type,street_e_1,osm_id_2,way_type_2
0,6.0,POINT (-74.02981 40.96929),81,417,11566257,primary,226,11587053,residential
1,6.0,POINT (-74.04022 40.96285),277,400,11570206,tertiary,251,11587208,residential
2,6.0,POINT (-74.04594 40.96277),219,38,11574526,residential,346,61300744,residential
3,6.0,POINT (-74.03099 40.95720),216,381,11574182,primary,382,11576347,primary
4,6.0,POINT (-74.03446 40.95761),80,475,11566257,residential,476,11580922,residential
...,...,...,...,...,...,...,...,...,...
232,6.0,POINT (-74.03456 40.95714),83,475,11566257,residential,178,61300744,residential
233,6.0,POINT (-74.04101 40.95230),243,305,11569682,residential,441,11588257,tertiary
234,6.0,POINT (-74.03930 40.96260),115,399,61313136,tertiary,395,665699495,tertiary
235,6.0,POINT (-74.03070 40.94495),169,53,11581697,residential,63,629124915,residential
236,12.0,POINT (-74.03633 40.95812),225,152,11573489,residential,105,11587860,residential

In [8]:
#keep highways osm_id and geometry from df
intersections = df[['way_type','osm_id', 'geometry']]
intersections

        way_type    osm_id                    geometry
0        primary  11566257  POINT (-74.02981 40.96929)
1       tertiary  11570206  POINT (-74.04022 40.96285)
2    residential  11574526  POINT (-74.04594 40.96277)
3        primary  11574182  POINT (-74.03099 40.95720)
4    residential  11566257  POINT (-74.03446 40.95761)
..           ...       ...                         ...
232  residential  11566257  POINT (-74.03456 40.95714)
233  residential  11569682  POINT (-74.04101 40.95230)
234     tertiary  61313136  POINT (-74.03930 40.96260)
235  residential  11581697  POINT (-74.03070 40.94495)
236  residential  11573489  POINT (-74.03633 40.95812)

[237 rows x 3 columns]

In [12]:
file_path = '../../../../data/oradell/osm/osm-intersections/osm-intersections-cleaned/osm-intersections-cleaned.shp'
directory_path = os.path.dirname(file_path)
if not os.path.exists(directory_path):
    os.makedirs(directory_path)
intersections.to_file(file_path)