In [1]:
import geopandas as gpd
import pandas as pd
import os

In [2]:
city = 'newberg'

In [3]:
intersections_geo = gpd.read_file('../../../../data/{}/osm/osm-intersections/intersections-with-correct-geo/intersections-with-correct-geo.shp'.format(city))
intersections_waytype = gpd.read_file('../../../../data/{}/osm/osm-intersections/intersections-with-way-type/intersections-with-way-type.shp'.format(city))

In [4]:
#spatial join two dataframes
df = gpd.sjoin(intersections_geo, intersections_waytype, how='inner')
df

,count_tota,geometry,index_right,street_edg,osm_id,way_type,street_e_1,osm_id_2,way_type_2
0,12.0,POINT (-122.96656 45.29582),294,349,127270361,residential,428,5402707,residential
1,6.0,POINT (-122.95804 45.29804),125,477,85546500,residential,1056,5405748,residential
2,6.0,POINT (-122.96454 45.29480),562,1215,5404565,residential,1216,5402627,residential
3,6.0,POINT (-122.94030 45.32644),135,165,170009223,tertiary,167,373835028,tertiary
4,6.0,POINT (-122.96500 45.31370),589,235,5405841,tertiary,234,5404670,tertiary
...,...,...,...,...,...,...,...,...,...
611,6.0,POINT (-122.96264 45.30410),990,1442,47281054,tertiary,1438,475140343,tertiary
612,6.0,POINT (-122.97895 45.31218),958,1586,73345070,tertiary,1585,5403930,tertiary
613,6.0,POINT (-122.94571 45.31457),235,1034,475384150,secondary,852,5405533,secondary
614,6.0,POINT (-122.98021 45.30556),655,135,474939858,primary,177,146275556,residential
615,6.0,POINT (-122.95034 45.29280),876,1376,146400489,residential,97,5403698,tertiary

In [5]:
#keep highways osm_id and geometry from df
intersections = df[['way_type','osm_id', 'geometry']]
intersections

        way_type     osm_id                     geometry
0    residential  127270361  POINT (-122.96656 45.29582)
1    residential   85546500  POINT (-122.95804 45.29804)
2    residential    5404565  POINT (-122.96454 45.29480)
3       tertiary  170009223  POINT (-122.94030 45.32644)
4       tertiary    5405841  POINT (-122.96500 45.31370)
..           ...        ...                          ...
611     tertiary   47281054  POINT (-122.96264 45.30410)
612     tertiary   73345070  POINT (-122.97895 45.31218)
613    secondary  475384150  POINT (-122.94571 45.31457)
614      primary  474939858  POINT (-122.98021 45.30556)
615  residential  146400489  POINT (-122.95034 45.29280)

[616 rows x 3 columns]

In [6]:
file_path = '../../../../data/{}/osm/osm-intersections/osm-intersections-cleaned/osm-intersections-cleaned.shp'.format(city)
directory_path = os.path.dirname(file_path)
if not os.path.exists(directory_path):
    os.makedirs(directory_path)
intersections.to_file(file_path)