In [1]:
import geopandas as gpd
import pandas as pd
from shapely.geometry import Point
%matplotlib inline
import seaborn as sns; sns.set_theme(color_codes=True)
pd.set_option('display.max_columns', None)
import os

In [2]:
city = 'newberg'

In [3]:
#read in streets data
streets = gpd.read_file('../../../../data/{}/source/streets.json'.format(city))

In [4]:
#select only street_edge_id,osm_id,geometry
streets = streets[['street_edge_id','osm_id','geometry']]
streets
streets.sort_values(by=['street_edge_id'])

,street_edge_id,osm_id,geometry
1320,1,475348004,"LINESTRING (-122.94484 45.28386, -122.94484 45..."
120,2,5402529,"LINESTRING (-122.94519 45.28613, -122.94521 45..."
253,3,5404133,"LINESTRING (-122.94521 45.28617, -122.94649 45..."
817,4,145224872,"LINESTRING (-122.94748 45.29000, -122.94748 45..."
449,5,5405108,"LINESTRING (-122.94760 45.29020, -122.94767 45..."
...,...,...,...
747,1686,86092295,"LINESTRING (-122.95456 45.28584, -122.95428 45..."
790,1687,127270360,"LINESTRING (-122.95343 45.28546, -122.95338 45..."
1206,1688,475141086,"LINESTRING (-122.95307 45.28543, -122.95279 45..."
549,1690,5405617,"LINESTRING (-122.95310 45.29893, -122.95349 45..."
18,1691,5393965,"LINESTRING (-122.95172 45.29712, -122.95221 45..."

In [8]:
#streets.explore(tiles='cartodbpositron')

In [7]:
#read in osm_id to waytype mapping
mapping = pd.read_csv('../../../../data/{}/source/streets-with-osm-way-info-{}.csv'.format(city,city))

In [8]:
mapping

      street_edge_id  osm_way_id  way_type
0                  1    32916201   primary
1                  2   169387506   primary
2                  3   169387506   primary
3                  4   169387506   primary
4                  5   169387506   primary
...              ...         ...       ...
1686            1687   475379409  tertiary
1687            1688   475379409  tertiary
1688            1689     5404198  tertiary
1689            1690   169024737   primary
1690            1691   169024737   primary

[1691 rows x 3 columns]

In [9]:
#inner join the two dataframes on street_edge_id
streets = pd.merge(streets, mapping, on='street_edge_id', how='inner')
streets

,street_edge_id,osm_id,geometry,osm_way_id,way_type
0,1489,32916201,"LINESTRING (-122.95080 45.28571, -122.94940 45...",475379410,tertiary
1,1269,169387506,"LINESTRING (-122.96959 45.29480, -122.97060 45...",474931840,residential
2,652,169387506,"LINESTRING (-122.98113 45.31476, -122.98136 45...",5405832,residential
3,273,169387506,"LINESTRING (-122.94269 45.30981, -122.94267 45...",5404128,residential
4,51,169387506,"LINESTRING (-122.97407 45.30359, -122.97406 45...",5401356,residential
...,...,...,...,...,...
1538,64,475379409,"LINESTRING (-122.97707 45.31828, -122.97712 45...",5401569,residential
1539,1421,475379409,"LINESTRING (-122.95874 45.30036, -122.95874 45...",475180209,residential
1540,148,475379409,"LINESTRING (-122.97414 45.29581, -122.97413 45...",5402625,residential
1541,790,169024737,"LINESTRING (-122.98381 45.31611, -122.98379 45...",73345181,tertiary
1542,828,169024737,"LINESTRING (-122.93397 45.30649, -122.93396 45...",86092292,tertiary

In [12]:
#streets.explore(tiles='cartodbpositron', column='way_type')

In [13]:
#change the order of columns geometry to the end
streets = streets[['street_edge_id','osm_id','way_type','geometry']]
streets

,street_edge_id,osm_id,way_type,geometry
0,1489,32916201,tertiary,"LINESTRING (-122.95080 45.28571, -122.94940 45..."
1,1269,169387506,residential,"LINESTRING (-122.96959 45.29480, -122.97060 45..."
2,652,169387506,residential,"LINESTRING (-122.98113 45.31476, -122.98136 45..."
3,273,169387506,residential,"LINESTRING (-122.94269 45.30981, -122.94267 45..."
4,51,169387506,residential,"LINESTRING (-122.97407 45.30359, -122.97406 45..."
...,...,...,...,...
1538,64,475379409,residential,"LINESTRING (-122.97707 45.31828, -122.97712 45..."
1539,1421,475379409,residential,"LINESTRING (-122.95874 45.30036, -122.95874 45..."
1540,148,475379409,residential,"LINESTRING (-122.97414 45.29581, -122.97413 45..."
1541,790,169024737,tertiary,"LINESTRING (-122.98381 45.31611, -122.98379 45..."
1542,828,169024737,tertiary,"LINESTRING (-122.93397 45.30649, -122.93396 45..."

In [14]:
file_path = '../../../../data/{}/osm/osm-roads/streets-with-osm-way-type.shp'.format(city)
directory_path = os.path.dirname(file_path)
if not os.path.exists(directory_path):
    os.makedirs(directory_path)

In [15]:
#save the streets data as shapefile 
streets.to_file(file_path)

/var/folders/zm/x5dzdlrs5mlbxrm7z5g6p05r0000gn/T/ipykernel_87675/714977729.py:2: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  streets.to_file(file_path)