In [12]:
import geopandas as gpd
import pandas as pd
import os

In [3]:
city = 'chicago'

In [4]:
intersections_geo = gpd.read_file('../../../../data/'+ city + '/osm/osm-intersections/intersections-with-correct-geo/intersections-with-correct-geo.shp')
intersections_waytype = gpd.read_file('../../../../data/' + city + '/osm/osm-intersections/intersections-with-way-type/intersections-with-way-type.shp')

In [5]:
#spatial join two dataframes
df = gpd.sjoin(intersections_geo, intersections_waytype, how='inner')
df

,count_tota,geometry,index_right,street_edg,osm_id,way_type,street_e_1,osm_id_2,way_type_2
0,6.0,POINT (-87.64130 41.59363),401,162584,24111444,residential,112552,24081326,residential
1,12.0,POINT (-87.68958 41.57719),1238,160289,24110157,residential,160332,24110179,residential
2,12.0,POINT (-87.66691 41.62265),2021,259449,435330636,primary,146709,24101640,residential
3,12.0,POINT (-87.64986 41.59907),194,163696,24112310,residential,163692,24112310,residential
4,12.0,POINT (-87.65477 41.62444),1609,111299,24080727,residential,111306,24080694,residential
...,...,...,...,...,...,...,...,...,...
2022,12.0,POINT (-87.66067 41.57905),336,279354,507553837,tertiary,258036,435322975,secondary
2023,6.0,POINT (-87.67844 41.48500),1899,248359,367370483,residential,248267,367181986,residential
2024,6.0,POINT (-87.98170 42.08283),2457,171062,24117012,tertiary,143467,24099399,tertiary
2025,12.0,POINT (-87.98170 42.08378),1371,121147,24085977,tertiary,121145,24085977,tertiary
2026,6.0,POINT (-88.14638 41.77506),422,277170,479566021,residential,85956,22108364,residential

In [8]:
#keep highways osm_id and geometry from df
intersections = df[['way_type','osm_id', 'geometry']]
intersections

         way_type     osm_id                    geometry
0     residential   24111444  POINT (-87.64130 41.59363)
1     residential   24110157  POINT (-87.68958 41.57719)
2         primary  435330636  POINT (-87.66691 41.62265)
3     residential   24112310  POINT (-87.64986 41.59907)
4     residential   24080727  POINT (-87.65477 41.62444)
...           ...        ...                         ...
2022     tertiary  507553837  POINT (-87.66067 41.57905)
2023  residential  367370483  POINT (-87.67844 41.48500)
2024     tertiary   24117012  POINT (-87.98170 42.08283)
2025     tertiary   24085977  POINT (-87.98170 42.08378)
2026  residential  479566021  POINT (-88.14638 41.77506)

[2027 rows x 3 columns]

In [9]:
file_path = '../../../../data/'+ city +'/osm/osm-intersections/osm-intersections-cleaned/osm-intersections-cleaned.shp'
directory_path = os.path.dirname(file_path)
if not os.path.exists(directory_path):
    os.makedirs(directory_path)
intersections.to_file(file_path)